#Cleanup after installation and updates
Write-Output "Cleanup section ...";

# Windows updates
Write-Output "Cleaning updates..";
Stop-Service -Name wuauserv -Force;
Remove-Item c:\Windows\SoftwareDistribution\Download\* -Recurse -Force;
Start-Service -Name wuauserv;

# Other directories
Write-Output "Cleaning SxS...";
Dism.exe /online /Cleanup-Image /StartComponentCleanup /ResetBase;

#   "$env:windir\logs",
#   "$env:windir\panther",
@(
    "$env:localappdata\Nuget",
    "$env:localappdata\temp\*",
    "$env:windir\temp\*",
    "$env:windir\logs",
    "$env:windir\winsxs\manifestcache"
) | ForEach-Object {
        if(Test-Path $_) {
            Write-Output "Removing $_";
            try {
              Takeown /d Y /R /f $_;
              Icacls $_ /GRANT:r administrators:F /T /c /q  2>&1 | Out-Null;
              Remove-Item $_ -Recurse -Force | Out-Null;
            } catch { $global:error.RemoveAt(0); }
        }
    }

#Turn off hibernation to save some space, we also don't need it in a virtual environment
Write-Output "Turning of hibernation";
powercfg /h off;

# Defragging to orginize everything to the "front" of the disk
Write-Output "defragging...";
if (Get-Command Optimize-Volume -ErrorAction SilentlyContinue) {
    Optimize-Volume -DriveLetter C;
    } else {
    Defrag.exe c: /H;
}

# Zero out free space so we can compact it
#Write-Output "0ing out empty space...";
#C:\ProgramData\chocolatey\bin\sdelete64.exe /accepteula -z C:;

# Defrag again just to make sure
Write-Output "defragging... (again)"
if (Get-Command Optimize-Volume -ErrorAction SilentlyContinue) {
    Optimize-Volume -DriveLetter C;
    } else {
    Defrag.exe c: /H;
}

Write-Output "Done cleaning up...";
